<% provide(:title, "Home") %>


<html>

  
   <body>
<p>このページは仮のトップページです。</p>

<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %><br>
<% if user_signed_in? %> 
<%= link_to "サインアウト", destroy_user_session_path, method: :delete %><br>
<% end %>

<img src="/assets/drink.jpeg" alt="">
  
  
    <div class="col-md-8">
      <h3>post Feed</h3>
     <!--  render 'shared/feed' %>-->
    </div>

</body>
</html>

