<% provide(:title, "TopPage") %>


<html>

  
   <body>
<h1>Let's Connect with the world!</h1>


<% if user_signed_in? %> 
<%= link_to "サインアウト", destroy_user_session_path, method: :delete %><br>
<% end %>

<img src="/assets/drink.jpeg" alt="">
  
  
    <div class="col-md-8">
      <h3>post Feed</h3>
     <!--  render 'shared/feed' %>-->
    </div>

</body>
</html>

