<% provide(:title, "TopPage") %>
 <html>
<header>
    
</header>
  
   <body>
       

 
 <div class = "container" >
     
     <div class = "top-logo">
      <img src="/assets/logo.png" alt="" width="193" height="130">
      </div>
     
     <div class = "top-messeage">
     <h1>Let's Connect with the world!</h1>
     
         
     
     </div>
     
     <div class = "login">
          <% if user_signed_in? %> 
        <%= link_to "サインアウト", destroy_user_session_path, method: :delete %><br>
         <% else %>
         <%= link_to "ログイン", new_user_session_path,class: "btn btn-primary"%><br>
         <%= link_to "登録する",new_user_registration_path,class: "btn btn-primary"%><br>
    <% end %>   
         
     </div>

    <img src="/assets/drink.jpeg" alt="">
 
  
    <div class="col-md-8">
      <h3>post Feed</h3>
     <!--  render 'shared/feed' %>-->
    </div>
    </div>

</body>
</html>

