.top-logo{
  margin:5px;
  padding:5px;
}



.top-messeage {
  font-size:80px ;
  font-family: "serif";
  color:#800080;
  font-weight: 900; 
  float:right;
}

.container {
  background-color:#f0f8ff;
  
}

.login {
  float:right;
  
}

  