// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size:80px ;
  float:right;
  padding-top:200px;
  font-family: "serif";
  color:#800080;
  font-weight: 900; 
}
